#status {
  display: block;
  width: 15rem;
}

:host p:first-of-type {
  font-weight: bold;
  animation: pulse 2s infinite;
  margin: 0 0 0.5rem 0;
  font-size: 1.15rem;
}

.status-online p:first-of-type {
  color: #33e38b;
}

.status-offline p:first-of-type {
  color: #b91422;
}

.status-unknown p:first-of-type {
  color: grey;
}

p:last-of-type {
  margin: 0;
  color: #625e67;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}